<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Camera</title>
        <link rel="stylesheet" href="/assets/styles.css">
        <%- include('../partials/_fonts') %>
    </head>
    <body class="bg-gray-300">
        <%- include('../partials/_navbar.ejs') %>
        <div class="flex justify-center mt-16 p-1">
            <h1 class="font-anton text-3xl">Add Camera</h1>
        </div>
        <div class="flex justify-center">
            <form action="/users/<%= user._id %>/camera" method="POST" class="flex flex-col border-2 p-7 rounded-lg bg-gray-400">
                <label for="make" class="text-xl font-marcellus">Make</label>
                <input type="text" name="make" class="border-2 border-solid border-neutral-950 rounded mt-3 mb-10 p-1" required>
                <label for="model" class="text-xl font-marcellus">Model</label>
                <input type="text" name="model" class="border-2 border-solid border-neutral-950 rounded mt-3 mb-10 p-1" required>
                <label for="megapixels" class="text-xl font-marcellus">Megapixels</label>
                <input type="text" name="megapixels" id="" class="border-2 border-solid border-neutral-950 rounded mt-3 mb-10 p-1" required>
                <label for="type" class="text-xl font-marcellus">Type</label>
                <select name="type" id="" class="border-2 border-solid border-neutral-950 rounded mt-3 mb-10 p-1" required>
                    <option value="DSLR">DSLR</option>
                    <option value="Mirrorless">Mirrorless</option>
                    <option value="Film">Film</option>
                </select>
                <label for="sensor" class="text-xl font-marcellus">Sensor</label>
                <select name="sensor" id="" class="border-2 border-solid border-neutral-950 rounded mt-3 mb-10 p-1" required>
                    <option value="Full Frame">Full Frame</option>
                    <option value="APS-C">APS-C</option>
                </select>
                <div class="flex justify-center">
                    <button type="submit" class="bg-zinc-800 rounded px-3 py-2 hover:bg-zinc-400 text-white">Add Gear</button>
                </div>
            </form>
        </div>
    </body>
</html>