<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Camera</title>
        <link rel="stylesheet" href="/assets/styles.css">
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>
        <h1>Add Camera</h1>
        <form action="/users/<%= user._id %>/camera" method="POST">
            <label for="make">Make</label>
            <input type="text" name="make">
            <label for="model">Model</label>
            <input type="text" name="model">
            <label for="megapixels">Megapixels</label>
            <input type="text" name="megapixels" id="">
            <label for="type">Type</label>
            <select name="type" id="">
                <option value="DSLR">DSLR</option>
                <option value="Mirrorless">Mirrorless</option>
                <option value="Film">Film</option>
            </select>
            <label for="sensor">Sensor</label>
            <select name="sensor" id="">
                <option value="APS-C">APS-C</option>
                <option value="Full Frame">Full Frame</option>
            </select>
            <button type="submit">Add Gear</button>
        </form>
    </body>
</html>