<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>
        <h1>Add Camera</h1>
        <form action="/users/<%= user._id %>/camera" method="POST">
            <label for="make">Make</label>
            <input type="text" name="make">
            <label for="model">Model</label>
            <input type="text" name="model">
            <label for="megapixels">Megapixels</label>
            <input type="text" name="megapixels" id="">
            <label for="sensor"></label>
            <select name="sensor" id="">
                <option value="apsc">APS-C</option>
                <option value="full frame">Full Frame</option>
            </select>
            <button type="submit">Add Gear</button>
        </form>
    </body>
</html>